<div class="flex flex-wrap">
    <div *ngFor="let result of Resultat; let i = index" class="ml-10 mt-10">
        
        <div class="bg-white font-semibold text-center rounded-3xl border shadow-lg p-10 max-w-xs" [ngClass]="{
            'bg-red-400': valeurMaitrisse[i] <= 25,
            'bg-yellow-300': valeurMaitrisse[i] > 25 && valeurMaitrisse[i] <= 75,
            'bg-green-300': valeurMaitrisse[i] >= 76 && valeurMaitrisse[i] <= 100
            }">
            <img class="mb-3 w-32 h-32 rounded-full shadow-lg mx-auto" src="https://images.unsplash.com/photo-1633332755192-727a05c4013d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=880&q=80" alt="product designer">
            <h1 class="text-lg text-black-700"> {{result.idCompetence.nom}} </h1>
            <p class="text-xs text-black-400 mt-4"> {{result.niveau}} </p>
            <h3 class="text-sm text-black-400 "> {{valeurMaitrisse[i]}}%</h3>
            <input (change)="changementMaitrisseCompetence(i, result._id)" [(ngModel)]="valeurMaitrisse[i]" class="rounded-lg overflow-hidden appearance-none bg-gray-400 h-3 w-128" type="range" min="0" max="100" step="1" value="0" />     
        </div>
    </div>
</div>



