
<div>
    <div class="flex items-center justify-center p-12">
        <div class="mx-auto w-full max-w-[550px]">
        <h1 class="mb-6 text-2xl border-b-2"> Création d'un cour </h1>
        <form #monFormulaire="ngForm" (ngSubmit)="onSubmitAddCours(monFormulaire)">
            <div class="-mx-3 flex flex-wrap">
            <div class="w-full px-3 sm:w-1/2">
                <div class="mb-5">
                <label
                    for="nom"
                    class="mb-3 block text-base font-medium text-[#07074D]"
                >                       
                    Nom
                </label>
                <input
                    type="text"
                    name="nomCour"
                    id="nomCour"
                    placeholder="Nom cour"
                    (ngModel)="nomCour"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                />
                </div>
            </div>
            <div class="w-full px-3 sm:w-1/2">
                <div class="mb-5">
                <label
                    for="description"
                    class="mb-3 block text-base font-medium text-[#07074D]"
                >
                    Description
                </label>
                <textarea
                    name="descriptionCour"
                    id="descriptionCour"
                    placeholder="Description du cour"
                    [(ngModel)]="descriptionCour"
                    class="w-full rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                ></textarea>
                </div>
            </div>
            <div class="w-full px-3 sm:w-1/2">
                <div class="mb-5" *ngFor="let competence of Competences">
                    <label
                    for="description"
                    class="mb-3 block text-base font-medium text-[#07074D]"
                    >
                    {{competence.nom}}
                </label>
                    <input 
                        type="checkbox"
                        name="{{competence.nom}}"
                        id="{{competence.nom}}"
                        [value]="competence._id" 
                        (change)="onCheckboxChange($event, competence._id)"
                        class="rounded-md border border-[#e0e0e0] bg-white py-3 px-6 text-base font-medium text-[#6B7280] outline-none focus:border-[#6A64F1] focus:shadow-md"
                    />
                </div>
            </div>
            </div>
            
            
            <div>
                <button
                    type="submit"
                    class="rounded-md bg-[#6A64F1] py-3 px-8 text-center text-base font-semibold text-white outline-none"    
                >
                    Créer
                </button>
            </div>
        </form>
        </div>
    </div>
</div>